@{
    ViewBag.Title = "Инфо";
}
<h2>@ViewBag.Message</h2>

<p>Для добавления фильмов в каталог необходимо зарегистрироваться и войти на сайт.</p>
<p>Редактировать фильм имеет право только тот, кто изначально выложил информацию об этом фильме.</p>
